@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: $white;
    min-width: 1070px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
}
button, input {
    font-family: PT Sans;
}
