.header {
    width: 100%;
    height: 90px;
    background-color: #0F7A65;
}
.container {
    padding-left: 20%;
    padding-right: 20%;
}
.header-align {
    display: flex;
    justify-content: space-around;
}
.header-logo {
    display: flex;
    margin-right: 3vw;
}
.header-item a{
    color: $white;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    height: 90px;
    margin-right: 3vw;
    white-space: nowrap;   
}
