.index{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index-circle {
    width: 120px;
    height: 120px;
    background: $green;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    min-height: 120px;
}

.index-title{
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 36px;
    line-height: 44px;
    margin-top: 3vh;
}
.index-text {
    width: 495px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    color: $onyx;
    margin-top: 1vh;
    text-align: center;
}
.index-input, .index-inputs{
    width: 350px;
    height: 50px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5vh;
    padding-left: 15px;
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;

    &.index-inputs{
        width: 50px;
        height: 50px;
        margin: 5vh 10px 0 10px;
        min-height: 50px;
        text-align: center;
        padding-left: 0;
    }
}
.disabled-btn, .enabled-btn{
    width: 350px;
    height: 50px;
    background-color: grey;
    border-radius: 5px;
    margin-top: 2vh;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;

    &.enabled-btn {
        background: #25B887;
        cursor: pointer;
    }
}
.index-login{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: $onyx;
    margin-top: 2.5vh;
}
.index-wrapper{
    display: flex;
    text-align: center;
}
.index-error {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    color: $onyx;
    margin-top: 10px;
    text-align: center;
}